<div class="flex flex-wrap place-items-center">
  <section class="relative mx-auto">
      <!-- navbar -->
    <nav class="flex justify-between bg-gray-900 text-white w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <%= link_to "Connie Feng Yoga", root_path, class: "text-3xl font-bold font-heading hover:text-violet-200" %>
        <!-- Nav Links -->
        <ul class="md:flex px-4 ml-16 font-semibold font-heading space-x-12">
          <li><%= link_to "Home", root_path, class: "hover:text-violet-200" %> </li>
          <li><%= link_to "About", root_path, class: "hover:text-violet-200" %></li>
          <li><%= link_to "Testimonials", root_path, class: "hover:text-violet-200" %></li>
        </ul>
        </div>
      </div>
    </nav>
  </section>
</div>
